// fonte
$fontePrincipal: Arial, Helvetica, sans-serif;

// cores
$corFundo: #b8e994;
$corPrincipal: #fa983a;
$corSecundaria: #f6b93b;
$fontColor: #0a3d62;

// breakpoints
$mobile: 767px;
$tablet: 1023px;