@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';


@mixin elementoForm() {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

@function pixelEm($alvoPixel, $contextoPixel: 16px){
    @return math.div($alvoPixel, $contextoPixel)+em;
}

body {
    background-color: variaveis.$corFundo;
    color: darken(variaveis.$fontColor, 10%);
}

.container {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

header {
    padding: 16px 0;

    background-color: variaveis.$corPrincipal;
}

.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;

    h2 {
        font-size: pixelEm(48px);
        text-align: center;
    }



    form {
        width: 100%;
        max-width: 400px;
        margin-top: 40px;

        label {
            cursor: pointer;
            font-weight: bold
        }

        input {
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 3px solid variaveis.$corSecundaria;
        }
    
        button {
            @include elementoForm();
            background-color: variaveis.$corPrincipal;
            border-color: variaveis.$corPrincipal;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: lighten(variaveis.$corPrincipal, 15%);
            }
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .container {
        max-width: 80%;
    }
}